<nav class="navbar navbar-light bg-light navbar-expand-sm fixed-top" id="main-nav">
  <div class="container">
    <img id="imentor_image"
         data-bs-hover-animate="rubberBand"
         class="welleastern_logo_fluid" [src]="this.setHeaderLogoImage()"
        (click)="homepageClick()">
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span [hidden]="isCollapsed === true" class="navbar-toggler-icon"></span>
      <span [hidden]="isCollapsed === false" class="fa fa-times fa-lg"></span>
    </button>

    <div class="collapse navbar-collapse show" id="navbarCollapse" [class.show]="isCollapsed" [ngClass]="isCollapsed ? 'mt-2 text-right' : ''">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [ngClass]="header_view_state === 'login'? 'active' : ''">
          <a class="nav-link" style="font-weight:bold;"
          (click)="viewStateChoose('login')" i18n>로그인</a>
        </li>
        <li class="nav-item" [ngClass]="header_view_state === 'signup/register' || header_view_state === 'signup/agree' ? 'active' : ''">
          <a class="nav-link" [ngClass]="environment_chinese ? 'disabled' : ''"
             style="font-weight:bold;"
             (click)="viewStateChoose('signup')"
             i18n>회원가입</a>
          <!--(click)="viewStateChoose('signup')"-->
        </li>
        <li class="nav-item" [ngClass]="header_view_state === 'find/pass'  || header_view_state === 'find/id' ? 'active' : ''">
          <a class="nav-link" [ngClass]="environment_chinese ? 'disabled' : ''"
             style="font-weight:bold;"
             (click)="viewStateChoose('find')"
             i18n>ID/PW 찾기</a>
          <!--(click)="viewStateChoose('find')"-->
        </li>
      </ul>
    </div>
  </div>
</nav>
