<footer class="footer_wrap pt-5 pb-4">
  <address class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-10">

        <address *ngIf="!isChinese">
          <p>CONTACT</p>
          <p>
            <span class="ad_np">상호 : 주식회사 마이멘토</span>
            <span class="ad_nbg">대표 : Seabong Jang</span>
            <br>
            <span class="ad_np">주소 : 서울특별시 송파구 백제고분로45길 34,5층</span>
            <span class="ad_nbg">사업자등록번호 : 755-87-00208</span>
            <br>
            <span class="ad_np">TEL : 1588-1605, 1855-1605</span>
            <span>FAX  :  02-815-0582</span>
            <br>
            <span class="ad_nnp">EMAIL : welleasternenglish@naver.com</span>
          </p>
        </address>

        <address *ngIf="isChinese">
          <p>CONTACT</p>
          <p>
            <span class="ad_np">Edith English CO.,LTD</span>
            <span class="ad_nbg">Headquarters/Research Lab Address : Amherst, MA 01003, USA</span>
            <br>
            <span class="ad_np">地址 : 北京巿 诲淀区 学府树家园二区8号楼 </span>
            <span class="ad_nbg">Manager : Harry.Jang</span>
            <br>
            <span class="ad_np">TEL : +1 339-234-2156</span>
            <span class="ad_nbg">EMAIL : welleastern@naver.com</span>
          </p>
        </address>
        <small>
          COPYRIGHT &copy; 2019 WELL EASTERN  ALL RIGHTS RESERVED.
        </small>

      </div>
    </div>
  </address>

</footer>
